.body {
    width: 40%;
    margin-left: 27%;
    background-color: #fbfaf5;
    font-size: 1.5em;
    
}

.login {
    float: right;
}

.delete {
    float: right;
}

.i {
    width: 70%;
}

/*.quiz-block{
    border: solid 0.5px #afb3b5;
    border-radius: 10px 10px 10px 10px;
    padding-right: 20px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 15px;
}*/

/*問題文～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～*/
p {
    line-height: 1.7em;
}

.quiz-block {
    position: relative;
    margin: 2em auto;
    padding-right: 20px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 25px;
    width: 90%; /* ボックス幅 */
    background-color: #5d794a; /* ボックス背景色 */
    color: #fff; /* 文章色 */
    border: 8px solid #b2771f; /* 枠線 */
    border-radius: 3px; /* 角の丸み */
    box-shadow: 0 0 5px #333, 0 0 5px #555 inset;
}

.quiz-block-cb {
    color: black;
}


.quiz-block::before,
.quiz-block::after {
    position: absolute;
    content: '';
    bottom: 0;
} 

.quiz-block::before {
    right: 10px;
    border: solid 3px #fff;
    width: 20px; 
    border-radius: 8px 20px 3px 12px;
    displey: inline-block;
    background: #fff;
}
.quiz-block::after {
    right: 40px;
    border: solid 3px #ffff6b;
    width: 25px; 
    border-radius: 8px 5px 3px 5px;
    displey: inline-block;
    background: #ffff6b;
}





.title {
    font-size: 60px;
}





/*ボタンー～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～*/

.button {
    line-height: 4em;
    
    list-style-type: none;
    margin-top :0;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #735e5e;
    color:  #fbfaf5;
    border-radius: 100vh;
    width: 120px;
    text-decoration: none;
}

.button:hover { /*ボタンの色　マウスが当たった時*/
    list-style-type: none;
    margin :0;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #493232;
    color:  #fbfaf5;
    border-radius: 100vh;
    width: 120px;
    text-decoration: none;
    
}


.button-1 {
    list-style-type: none;
    margin :0;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #f3f3f3;
    color:  #000;
    border-radius: 100vh;
    width: 120px;
    text-decoration: none;
}

.button-1:hover { /*ボタンの色　マウスが当たった時*/
    list-style-type: none;
    margin :0;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #d3d3d3;
    color:  #000;
    border-radius: 100vh;
    width: 120px;
    text-decoration: none;
    
}






.button-s {

    font-size: 0.9em;
    list-style-type: none;
    margin-top :0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #735e5e;
    color:  #fbfaf5;
    border-radius: 100vh;
    width: 120px;
    text-decoration: none;
}

.button-s:hover { /*ボタンの色　マウスが当たった時*/
    list-style-type: none;
    margin :0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #493232;
    color:  #fbfaf5;
    border-radius: 100vh;
    width: 120px;
    text-decoration: none;
    
}



/*画像枠線～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～*/

img.i {
    border-radius: 10px;
    border: 2px solid #f3f3f3;
}


/*ロゴとサイト名～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～*/

.logo {
    width: 45px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.Btitle {
    height: 60px;
    margin-top: 0px;
}



/*ページネーション～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～*/




.pagination {
  display: flex;
  justify-content: center;
}
.pagination > li > a {
  border: none;
  color: #fbfaf5;
  background-color: #735e5e;
}
.pagination > li > a:hover {
  color: #fbfaf5;
  background-color: #493232;
}
.pagination > .active > a {
  color: #fbfaf5;
  background-color: #493232;
}
.pagination > .active > a:hover {
  background-color: #735e5e;
  color: #fbfaf5;
}